/*--------------------------------------------------------------
# TodoContentLeft
--------------------------------------------------------------*/

.content-rigth{
    padding: 0;
    margin: 0;
}
.content-left{
    display: none;
}

@media (min-width: 992px) {
    .content-left{
        display:block;
    }

} 