/*--------------------------------------------------------------
# TodoList
--------------------------------------------------------------*/

.container-task{
    list-style: none;
    margin: 0;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin-top: 20px;
}

.container-task::-webkit-scrollbar {
    width: 0px;               /* width of the entire scrollbar */
}

.container-task::-webkit-scrollbar-track {
    background: transparent
}
.container-task::-webkit-scrollbar-thumb {
    background-color: transparent;
}

@media (max-width: 576px) {
    .container-task {
        height: 52vh;
    }
} 

@media (min-width: 576px) {
    .container-task {
        height: 55vh;
    }
}

@media (min-width: 992px) {
    .container-task{
      height: 60.7vh;
  }

} 

