/*--------------------------------------------------------------
# TodoSearch
--------------------------------------------------------------*/

.search{
    display: flex;
    max-width: 550px;
    margin: 0;
    
}
.btn-outline-success{
    color: var(--white-light) !important ;
    background: var(--color7) !important;
    font-weight: 700;
}




@media (max-width: 576px) {
    .search{
        max-width: 250px;
    }

} 

@media (min-width: 576px) and (max-width: 768px) {
    .search{
        max-width: 380px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .search{
        max-width: 600px;
    }
}


@media (min-width: 992px) and (max-width:1200px) {
    .search{
        max-width: 400px;
    }
}

@media (min-width: 1200px) {
    .search{
        max-width: 470px;
    }

} 