/*--------------------------------------------------------------
# TodoSearch
--------------------------------------------------------------*/

.search{
    display: flex;
    max-width: 550px;
    margin: 0;
    
}
.btn-outline-success{
    color: var(--color7) ;
    border: 2px solid var(--color7);
    font-weight: 700;
}
.btn-outline-success:hover{
    background: var(--color7) ;
}



@media (max-width: 576px) {
    .search{
        max-width: 250px;
    }

} 

@media (min-width: 576px) {
    .search{
        max-width: 500px;
    }

} 

@media (min-width: 992px) {
    .search{
        max-width: 480px;
    }

} 