/*--------------------------------------------------------------
# TodoCounter
--------------------------------------------------------------*/

.title-counter{
    display: flex;
    margin: 0;
    font-weight: 700;
    color: var(--color7); 
    justify-content: center;
}

.title-counter--p{
    font-size:1.5rem;
}

.title-counter--h1{
    padding-top: 30px;
    font-size:2rem; 
}

.counter{
    color: var(--color4);
}
