/*--------------------------------------------------------------
# TodoImg
--------------------------------------------------------------*/

.figure-task{
    padding: 30px 0 0 100px;
    margin: 0;

}
.bg-task{
    min-width: 480px;
    min-height: 320px;
    background-size:cover;
    z-index: 1;

}