/*--------------------------------------------------------------
# TodoImg
--------------------------------------------------------------*/

.figure-task{
    display: flex;
    justify-content: center;
    min-width: 500px;
    min-height: 450px;
    padding-top: 30px;
    margin: 0;

}
.bg-task{
    width: 420px;
    height: 420px;
    background-size:cover;
    z-index: 1;

}