/*--------------------------------------------------------------
# TodoImg
--------------------------------------------------------------*/

.figure-task{
    padding: 25px 0 0 25px;
    margin: 0;

}
.bg-task{
    width: 90%;
    height: 425px;
    background-size:cover;
    z-index: 1;

}