/*--------------------------------------------------------------
# TitleCreate
--------------------------------------------------------------*/

.title-create{
    color: var(--color4);
    font-weight: 700;
    max-width: 400px;
    padding-top: 20px;
}

