
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

:root{
    --dark-shadow: #040b14;
    --white-light: #ffffffe6;
    --color1 : #00c1ff;
    --color2 : #0073d2;
    --color3 : #ff707a;
    --color4 : #ffca2c;
    --color5 : #ffffda;
    --color6 : #90ffb1;
}
body {
    font-family: "Open Sans", sans-serif;
    color:var(--white-light);
    background:#fffbf4;
}
.content-rigth::before {
    content: "";
    background-image: url(./img/bg-lines.png);
    background-size: cover;
    opacity: 0.3; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.content-rigth{
    padding: 0;
    margin: 0;
}
.content-left{
    background: linear-gradient(to right, #65f4cd 0%,#4799e9 100%) ;
    display: none;
}


/*--------------------------------------------------------------
# TitleCreate
--------------------------------------------------------------*/

.title-create{
    margin-top: 10px;
    color: var(--color4);
    font-weight: 700;
}
.input-group-text{
    background-color: var(--color4);
    color: white;
    font-weight: 700;
}


/*--------------------------------------------------------------
# ButtonCreate
--------------------------------------------------------------*/
.btn-outline-warning{
    margin-left: 45%;
    border: 2px solid var(--color4);
    font-weight: 700;
}

.btn-outline-warning:hover{
    color: white;
}

/*--------------------------------------------------------------
# TodoImg
--------------------------------------------------------------*/

.figure-task{
    padding: 22px 0 0 25px;
    margin: 0;

}
.bg-task{
    width: 90%;
    height: 425px;
    background-size:cover;

}




/*--------------------------------------------------------------
# TodoCounter
--------------------------------------------------------------*/

.title-counter-h1{
    padding-top: 30px;
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(to right, #7ec9f5 0%, #3957ed 100%);
    background-clip: text;
    color: transparent;
    
}
.title-counter-p{
    font-size:1.5rem;
    font-weight: 700;
    background: linear-gradient(to right, #7ec9f5 0%, #3957ed 100%);
    background-clip: text;
    color: transparent;

    
}


/*--------------------------------------------------------------
# TodoList
--------------------------------------------------------------*/

.task-list{
    list-style: none;
    margin: 0;
    margin-top: 35px;
}

/*--------------------------------------------------------------
# TodoItem
--------------------------------------------------------------*/

.item{
    background: linear-gradient(to right, #7ec9f5 0%,#3957ed 100%);
    background-attachment: fixed;
    font-size: 1rem;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
}
.text-item{
    padding: 20px 0 20px 0;
    margin: 0 0 0 10px;
    font-weight: 700;
}

.text-item:hover{
    cursor: pointer;
    text-decoration: line-through;
}

.bx-task,
.bx-task-x{
    font-size: 2rem;
    margin-right: 10px;
    margin-left: 10px;
}


.bx-task-x:hover{
    color: var(--color3);
    cursor: pointer;
}
.bx-task:hover{
    color: var(--color6);
    cursor: pointer;
}
/*--------------------------------------------------------------
# TodoSearch
--------------------------------------------------------------*/

.search{
    max-width: 400px;
    margin: 0;
    
}

.btn-outline-success{
    color: var(--color2) ;
    border: 2px solid var(--color2);
    font-weight: 700;
}
.btn-outline-success:hover{
    background: linear-gradient(to right, #7ec9f5 0%, #3957ed 100%) !important;
}

/*--------------------------------------------------------------
# TodoButtonAdd
--------------------------------------------------------------*/
.contain-btn{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display:none;
}
.bxs-plus-circle{
    font-size: 3rem;
    color: var(--color3);
    text-align: center;

}
.bxs-plus-circle:hover{
    color: var(--color4);
    cursor: pointer;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer-msg{
    color:var(--color2);
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    font-weight: 700;
    font-size: 1.1rem;
    font-style: italic;
    background-color: var(--color4);
}


/*--------------------------------------------------------------
# Mediaquery
--------------------------------------------------------------*/
@media (max-width: 576px) {
    .search{
        max-width: 250px;
    }
} 

@media (min-width: 992px) {
    .content-left{
        display:block;
    }
    
} 

@media (max-width: 992px) {
    .contain-btn{
        display: block;
    }

} 

