
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

:root{
    --dark-shadow: #040b14;
    --white-light: #fffbf4;
    --color1 : #00c1ff;
    --color2 : #0073d2;
    --color3 : #FF5722;
    --color4 : #FFA000;
    --color5 : #ffffda;
    --color6 : #9EFF22 ;
}
body {
    font-family: "Open Sans", sans-serif;
    color:var(--white-light);
    background:var(--white-light);
}
body::before {
    content: "";
    background-image: url(./img/bg-lines.png);
    background-size: cover;
    opacity: 0.3; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.content-rigth{
    padding: 0;
    margin: 0;
}
.content-left{
    display: none;
}
.content-rigth--successful{
    display: none;
}
/*--------------------------------------------------------------
# TitleCreate
--------------------------------------------------------------*/

.title-create{
    margin-top: 10px;
    color: var(--color4);
    font-weight: 700;
}
.input-group-text{
    background-color: var(--color4);
    color: white;
    font-weight: 700;
}


/*--------------------------------------------------------------
# ButtonCreate
--------------------------------------------------------------*/
.btn-outline-warning{
    margin-left: 45%;
    border: 2px solid var(--color4);
    font-weight: 700;
    color: var(--color4);
}

.btn-outline-warning:hover{
    color: white;
    background: var(--color4);
}

/*--------------------------------------------------------------
# TodoImg
--------------------------------------------------------------*/

.figure-task{
    padding: 25px 0 0 25px;
    margin: 0;

}
.bg-task{
    width: 90%;
    height: 425px;
    background-size:cover;

}
/*--------------------------------------------------------------
# TodoImgSuccessful
--------------------------------------------------------------*/
.figure-icon-task{
    padding-top: 10vh;

}

.icon-task-successful{
    max-width: 300px;
    max-height: 350px;
}

/*--------------------------------------------------------------
# TodoSuccessful
--------------------------------------------------------------*/
.text-successful{
    padding-top: 20px;
    font-size:2rem;
    font-weight: 700;
    color: var(--color1);
}
.text-reminder{
    padding-top: 10px;
    font-size:1rem;
    font-weight: 600;
    color: var(--dark-shadow);
}
/*--------------------------------------------------------------
# TodoCounter
--------------------------------------------------------------*/

.title-counter-h1{
    padding-top: 30px;
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(to right, #7ec9f5 0%, #3957ed 100%);
    background-clip: text;
    color: transparent;
    
}
.title-counter-p{
    font-size:1.5rem;
    font-weight: 700;
    background: linear-gradient(to right, #7ec9f5 0%, #3957ed 100%);
    background-clip: text;
    color: transparent;

    
}


/*--------------------------------------------------------------
# TodoList
--------------------------------------------------------------*/

.task-list{
    list-style: none;
    margin: 0;
    max-width: 600px;
    max-height: 400px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin-top: 20px;
    
}

.task-list::-webkit-scrollbar {
    width: 0px;               /* width of the entire scrollbar */
}

.task-list::-webkit-scrollbar-track {
    background: transparent
}
.task-list::-webkit-scrollbar-thumb {
    background-color: transparent;
}
/*--------------------------------------------------------------
# TodoItem
--------------------------------------------------------------*/

.item{
    background: linear-gradient(to right, #7ec9f5 0%,#3957ed 100%);
    background-attachment: fixed;
    font-size: 1rem;
    margin-right: 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
}
.text-item{
    padding: 20px 0 20px 0;
    margin: 0 0 0 10px;
    font-weight: 700;
}

.text-item--completed{
    text-decoration: line-through;
}

.bx-container{
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
}

.bx-container-delete{
    position:relative;
    right: -2.5rem;
}

.icon-svg{
    width: 26px;
    height: 26px;
}


.bx-task--active{
    color: var(--color6);
}

.bx-container-delete:hover .icon-svg{
    fill: var(--color3);
    cursor: pointer;
}
.bx-container-completed:hover .icon-svg{
    fill: var(--color6);
    cursor: pointer;
}
/*--------------------------------------------------------------
# TodoSearch
--------------------------------------------------------------*/

.search{
    max-width: 320px;
    margin: 0;
}
.btn-outline-success{
    color: var(--color2) ;
    border: 2px solid var(--color2);
    font-weight: 700;
}
.btn-outline-success:hover{
    background: linear-gradient(to right, #7ec9f5 0%, #3957ed 100%) !important;
}

/*--------------------------------------------------------------
# TodoButtonAdd
--------------------------------------------------------------*/


.CreateTodoButton {
    background-color: #61DAFA;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;

    transform: rotate(0);
    transition: .3s ease;
}
  
.CreateTodoButton:hover {
    transform: rotate(224deg);
  }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer-msg{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    font-weight: 700;
    font-size: 1.1rem;
    font-style: italic;
    background-color: var(--color4);
}


/*--------------------------------------------------------------
# Mediaquery
--------------------------------------------------------------*/
@media (max-width: 576px) {
    .search{
        max-width: 250px;
    }
    .text-button{
        font-size: 0.8rem;
    }
    .bx-right-arrow-alt{
        font-size: 2.5rem;
    
    }
    .icon-task-successful{
        max-width: 200px;
        max-height: 200px;
    }
    .text-successful{
        font-size:1.2rem;
    }
    .text-reminder{
        font-size: 0.8rem;
        padding-bottom: 30vh;
    }
    .task-list {
        max-height: 500px;
    }
} 

@media (min-width: 992px) {
    .content-left{
        display:block;
    }
    .CreateTodoButton {
        display: none;
    }
} 

@media (max-width: 992px) {
    .contain-btn{
        display: flex;
    }
    .container-list{
        min-height: 70vh;
    }
    .text-successful{
        font-size:1.5rem;
    }
    .text-reminder{
        padding-bottom: 10vh;
    }

} 


