/*--------------------------------------------------------------
# TodoImgSuccessful
--------------------------------------------------------------*/
.figure-task-successful{
    display: flex;
    padding-top: 50px;
    max-width: 600px;
    max-height: 400px;
    justify-content: center;
}

.img-task-successful{
    width: 280px;
    height: 280px;
}


